<%- include('./partials/header') %>

    <main>
        <div class = titre>
            
            <h1 class = titreimg >Notre catalogue</h1>
        </div>

        <div>
           <% for( coffee of coffees1 ) { %>
           
          
           
            
            <article>
                <h2><%= coffee.name %></h2>
                <ul>
                    <img src="/visuals/coffees/<%= coffee.name %>.png" alt="image café">
                    <li>Caractéristique principale : <%= coffee.caracteristique %></li>
                    <li>Disponible : <%= coffee.dispo %></li>
                    <button class = article2><a href="/detail/<%= coffee.id %>">Découvrir</a></button>
                </ul>
            </article>
            <% } %>

        </div>

        <div>
            <button class="btnall"> Voir tout</button>

            <div class="articlehandle hidden">

            <% for( coffee of coffees2 ) { %>
                
            <article>
                <h2><%= coffee.name %></h2>
                <ul>
                    <img src="/visuals/coffees/<%= coffee.name %>.png" alt="image café">
                    <li>Caractéristique principale : <%= coffee.caracteristique %></li>
                    <li>Disponible : <%= coffee.dispo %></li>
                    <button class = article><a href="/detail/<%= coffee.id %>">Découvrir</a></button>
                </ul>
            </article>

            <% } %>

        </div>
        </div>
    </main>
    <%- include('./partials/footer') %>