<%- include('./partials/header') %>

    <div class = titre3>
        

    </div>
<h1 class="TD"> details du produit </h1>
    <main class="detail">
       
        <article class = aa>
            <h2><%= coffee.name %></h2>
            <ul>
                <img src="/visuals/coffees/<%= coffee.name %>.png" alt="image café">
                <li>Description : <%= coffee.description %></li>
                <li>Référence : <%= coffee.reference %></li>
                <li>Origine : <%= coffee.origine %></li>
                <li>Prix au kilo : <%= coffee.price %> €</li>
                <li>Caractéristique principale : <%= coffee.caracteristique %></li>
                <li>Disponible : <%= coffee.dispo %></li>
                <button class = catalogue><a href="/catalogue">Catalogue</a></button>
            </ul>
        </article>
    </main>
    <%- include('./partials/footer') %>